
# Node modules
node_modules/

# Environment variables
.env.example
.env.local

# Logs
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Database files
*.sqlite
*.db
db.html

# Temporary files
tmp/
temp/
